# Module_07_程式的流程控制-條件判斷 if...else

# 7-3

In [9]:
x = 3; y = 7; print('Result\t:', x)  #可以這樣寫用分號隔開
print('Result\t:', x+y)  # , is space
print('Result\t:'+str(x+y))
# try f-string

Result	: 3
Result	: 10
Result	:10

In [10]:
x = 4
if x == 3:
    print ('x = 3')
else :
    print ('x != 3')

x != 3

# 7-4

In [11]:
total = 11+ \
12 + \
13 + \
14
total

50

In [12]:
days =['Sun', 'Mon', 'Tue',
      'Wed', 'Thu', 'Fri', 'Sat']
# try {}, ()

# 7-5 comments

In [13]:
# #真正的備註
# this is python
# hello python
# no any evaluate

In [14]:
# document String
'''
this is python
hello python
'''
# still evaluate.  It is not a comment.   slow down your program

'\nthis is python\nhello python\n'

# 7-7

In [15]:
var1 = 100 
if var1: 
    print('True expr 1 : ', var1) 
#     謹記 非0即true
# -------------------------------    
var2 = 0 
if var2: 
    print('True expr 2 : ', var2) 
    
print('Finished!')

True expr 1 :  100
Finished!

# 7-9

In [ ]:
# %run mod07/ifstmt2.py
# if-else stmt
s = int(input('Input score: '))

if s >= 60:
    print("Pass!")
else:
    print("Not pass!")

In [16]:
a = 1
if a==1:
    print('a is 1')
print('a is a number')  # 這個 print在 if 之外
# if判斷是要加冒號:
# 沒有else就會直接跑下面的print

a is 1
a is a number

# 7-10

In [1]:
lst = [11, 22]
lst.clear()
# 變成空陣列=0 加上布林判斷即False
print('lst\t\t\t= ', lst)  # empty list
print('False == bool(lst))\t:', False == bool(lst))
print('False == bool(None)\t:', False == bool(None))
print('False == 0\t\t:', False == 0)

lst			=  []
False == bool(lst))	: True
False == bool(None)	: True
False == 0		: True

In [2]:
print('False == 0.0\t\t:', False == 0.0)
print('False == bool(())\t:', False == bool(()))  # empty tuple
print('False == bool({})\t:', False == bool({}))  # emply dictionary
# 重要

False == 0.0		: True
False == bool(())	: True
False == bool({})	: True

# 7-12

In [3]:
amt = 2000
if amt < 1000:
    discount = amt * 0.05
    print('Discount', discount)
else:
    discount = amt * 0.10
    print('Discount', discount)

Discount 200.0

# 7-14

In [ ]:
amt = int(input('Enter amount: '))

if amt < 1000:
    discount = amt * 0.05
    print('Discount:', discount)
elif amt < 5000:
    discount = amt * 0.10
    print('Discount:', discount)
else:
    discount = amt * 0.15
    print('Discount:', discount)

print('Net price:', amt - discount)

# 7-16

In [ ]:
num = int(input('enter number'))
if num%2 == 0:
    if num%3 == 0:
        print('Divisible by 3 and 2')
    else:
        print('Divisible by 2, not divisible by 3')
else:
    if num%3 == 0:
        print('Divisible by 3, not divisible by 2')
    else:
        print('Not Divisible by 2, not divisible by 3')

# 7-17

In [1]:
var = 30
# Only one statement
if var==50: print('Value is 50')
if var==40: print('Value is 40')
print('Finished!')

Finished!

In [2]:
a = 2
#if a%3==0: Result = True
#else: Result = False
Result = 3 if a%3==0 else "Hello"
Result

'Hello'

In [3]:
a=9
if a%2:     # 9%2 = 1, True
    print('Apple') 
else: 
    print('False')

# practice print.....if   else pr....

Apple

In [ ]:
x = int(input('x:')) ; y = int(input('y:')); z = int(input('z:'))
print('The largest of the number is ', end='')
if x>y :
    if x>z:
        print(x)
    else:
        print(z)
else:                # y > x
    if y>z:
        print(y)
    else:
        print(z)
        
print(max([x, y, z]))

# 7-19

In [1]:
x = 7
if x == 7:
    y = 3
else:
    y = 5

In [2]:
x = 7
if x == 7: y = 3
else: y=5

In [3]:
# 取代簡單的 if...else
x = 7
y = 3 if x == 7 else 5
y

3

In [3]:
%%timeit
x = 5
if x%2 == 0:
    y = 1
else:
    y = 50
#     多一個運算元 速度變比較慢

66.1 ns ± 6.97 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [2]:
%%timeit
x = 5
if not x%2:
    y = 1
else:
    y = 50

54 ns ± 13.1 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

---

# Module_08_程式的流程控制-迴圈 while ,  for... range

## 8-4

In [4]:
count = 0
while count < 9:
#    print('count is:', count)
    count += 1
print('Finished!')

Finished!

In [5]:
# %run mod08/whilestmt1.py
# while stmt

m = int(input('Input factorial:'))
r = n = 1

while n <= m:
    r *= n  # r = r * n
    n += 1
print(str(m) + '! =', r)

# or

r = n = 1
for n in range(1, m+1):  # iteration iteration #  迭代 : 重複的意思
    r*=n
print(str(m) + '! =', r)

Input factorial: 55

55! = 12696403353658275925965100847566516959580321051449436762275840000000000000
55! = 12696403353658275925965100847566516959580321051449436762275840000000000000

In [6]:
# 比如說提款機

num = 1
while num==1  :         # This constructs an infinite loop
    cash = int(input("輸入提款金額  :"))
    if 0<cash <30000:
        break
    
print ("輸入密碼")

輸入提款金額  : 200

輸入密碼

In [7]:
while True:
    user = input('你猜，我是 python / java / C++ ?? ')
    if user == 'python':
        break
    print(user, '錯')
print('好，答對了！')
# 如果答錯就不會跳出迴圈,回到第一行

你猜，我是 python / java / C++ ??  python

好，答對了！

>><img src=".\img\break.jpg"  style='height:300px; width:550px'>
>><img src=".\img\continue.jpg"  style='height:300px; width:550px'>

In [8]:
# 年利率5%，則每個月的利率為5%/12=0.4167%
# 1萬元放在銀行，本金加利率總額為 10000*(1+0.05/12)=10041.67元
total=0
i=0
# while loop ...
while (total<1000000):
    total *= (1+0.05/12)
    total += 10000
    i += 1
print(i)

84

In [17]:
for var in [1, 2, 3, 4, 5]:
    print(var)

1
2
3
4
5

# 8-7

In [18]:
for i in range(1,10):
    for j in range(1,10):
        x = i * j
        print(x, end=' ')
    print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [31]:
for i in range(1,10):
    for j in range(1,10):
        print(f'{i:1d} * {j:1d} = {i*j:2d}', end=',  ')
    print()
#     f'顯示文字 {顯示代數} 1d=1 digit'

1 * 1 =  1,  1 * 2 =  2,  1 * 3 =  3,  1 * 4 =  4,  1 * 5 =  5,  1 * 6 =  6,  1 * 7 =  7,  1 * 8 =  8,  1 * 9 =  9,
2 * 1 =  2,  2 * 2 =  4,  2 * 3 =  6,  2 * 4 =  8,  2 * 5 = 10,  2 * 6 = 12,  2 * 7 = 14,  2 * 8 = 16,  2 * 9 = 18,
3 * 1 =  3,  3 * 2 =  6,  3 * 3 =  9,  3 * 4 = 12,  3 * 5 = 15,  3 * 6 = 18,  3 * 7 = 21,  3 * 8 = 24,  3 * 9 = 27,
4 * 1 =  4,  4 * 2 =  8,  4 * 3 = 12,  4 * 4 = 16,  4 * 5 = 20,  4 * 6 = 24,  4 * 7 = 28,  4 * 8 = 32,  4 * 9 = 36,
5 * 1 =  5,  5 * 2 = 10,  5 * 3 = 15,  5 * 4 = 20,  5 * 5 = 25,  5 * 6 = 30,  5 * 7 = 35,  5 * 8 = 40,  5 * 9 = 45,
6 * 1 =  6,  6 * 2 = 12,  6 * 3 = 18,  6 * 4 = 24,  6 * 5 = 30,  6 * 6 = 36,  6 * 7 = 42,  6 * 8 = 48,  6 * 9 = 54,
7 * 1 =  7,  7 * 2 = 14,  7 * 3 = 21,  7 * 4 = 28,  7 * 5 = 35,  7 * 6 = 42,  7 * 7 = 49,  7 * 8 = 56,  7 * 9 = 63,
8 * 1 =  8,  8 * 2 = 16,  8 * 3 = 24,  8 * 4 = 32,  8 * 5 = 40,  8 * 6 = 48,  8 * 7 = 56,  8 * 8 = 64,  8 * 9 = 72,
9 * 1 =  9,  9 * 2 = 18,  9 * 3 = 27,  9 * 4 = 36,  9 * 5 = 45,  9 * 6 = 54,  9 * 7 = 63,  9 * 8 = 72,  9 * 9 = 81,

# 8-8 range()

In [20]:
# lazy evaluation
range(1,6)  # get ready, not execute

range(1, 6)

In [21]:
for i in range(1,10):
    print(i)
#     python裡都不包含後面的數(1,10)=(1~9)

1
2
3
4
5
6
7
8
9

In [22]:
list(range(1,6))  # execute

[1, 2, 3, 4, 5]

In [23]:
tuple(range(1,6))  # execute

(1, 2, 3, 4, 5)

In [24]:
set(range(1,6)) # execute

{1, 2, 3, 4, 5}

In [25]:
list(range(1, 15, 2))  # how about range (a,d)

[1, 3, 5, 7, 9, 11, 13]

## p8-10, 11, 12, 14

In [26]:
numbers = [31, 57, 75, 85, 27, 93, 63, 19, 22, 44]
for num in numbers:
    if num%2 == 0:
        print('有 偶數存在', num)
        break
else:
    print('無 偶數存在')

有 偶數存在 22

In [27]:
x = ['even' if num%2==0 else 'odd' for num in numbers]
print(x)

y = ['even' for num in numbers if num%2==0]
print(y)

['odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'even', 'even']
['even', 'even']

In [28]:
# %run mod08/whilestmt2.py
# whie with break stmt
i = 1
while True:
    print(i, end=', ')
    i += 1
    if i > 5:
        break

1, 2, 3, 4, 5,

In [29]:
total = 0 

for i in range(1,6):
    total+=i
total

15

---

# Module_09_串列(List)
# index
><img src=".\img\list.png"  style='height:250px; width:650px'>

In [32]:
list1=['a', 'b', 'c', 'd']
print(list1)

list2='a b c d'.split()
print(list2)

list('abcd') #宣告為list 必變成[]

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

['a', 'b', 'c', 'd']

In [33]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
print('names\t\t\t\t=', names)
print('names[0]\t\t\t:', names[0])
print('names[0][0]\t\t\t:', names[0][0], '\n') #該物件的[0]

print('names[5]\t\t\t:', names[5])
print('names[-1]\t\t\t:', names[-1],'\n') 

print('names[1:5]\t\t\t:', names[1:5])
print('names[1:6:2]\t\t\t:', (names[1:6:2]))

names[2]='Kevin'
print("names[2]='Kevin'\t\t:", names)         # 修改

names[-1:]=[2000, 23.5]                           # 一次改兩筆資料
print('names[-1:]=[2000, 23.5]\t\t:', names)

names				= ['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
names[0]			: fraser
names[0][0]			: f

names[5]			: 23.5
names[-1]			: 2019

names[1:5]			: ['grace', 'john', 'jess', 'jack']
names[1:6:2]			: ['grace', 'jess', 23.5]
names[2]='Kevin'		: ['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2019]
names[-1:]=[2000, 23.5]		: ['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2000, 23.5]

In [34]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)  # length 用字長從少到多去排序
b

['He', 'saw', 'six', 'small', 'foxes']

# 9-6

In [35]:
lst = [33, 'python', [11, 12, 13], 77]
print(len(lst))
print(lst[0])
print(lst[2])
print(lst[2][2])

4
33
[11, 12, 13]
13

>![listNested](.\img\listNested.png)

In [36]:
lst1 = [10,20,30]
lst2 = [10,20,30]
lst3 = [10,30,20]
lst1 == lst2

True

In [37]:
lst1 == lst3  #順序需一致

False

In [38]:
print(lst1 is lst2)   # 可能False,  True (機率很低很低) 數值雖然想同, 但記憶體位置可能不同
print(id(lst1), id(lst2))

False
1306443083968 1306442541696

In [39]:
lst1 is lst3

False

# 9-8

In [40]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [41]:
['Hi!'] * 4

['Hi!', 'Hi!', 'Hi!', 'Hi!']

In [42]:
30 in [10, 20, 30]

True

In [43]:
a = [10, 20, 30]
for x in a: 
    print (x, end = ' ')

print()
for i in range(len(a)): 
    print (a[i], end = ' ')

10 20 30
10 20 30

# 9-11

In [44]:
x, y, z=20, 10, 30
lst=[x, y, z]

print('lst\t\t\t\t= ', lst)
print('max(lst)\t\t\t:', max(lst))
print('min(lst)\t\t\t:', min(lst))
print('sum(lst)\t\t\t:', sum(lst))
print('sorted(lst)\t\t\t:', sorted(lst))
print('sorted(lst, reverse=True)\t:', sorted(lst, reverse=True))

lst				=  [20, 10, 30]
max(lst)			: 30
min(lst)			: 10
sum(lst)			: 60
sorted(lst)			: [10, 20, 30]
sorted(lst, reverse=True)	: [30, 20, 10]

In [45]:
lst=[11, 22, 33, 44]
print('lst\t\t\t=', lst)
print('id(lst)\t\t\t:', id(lst), '\n')

lst[2] = 66
print('lst[2] = 66\t\t:', lst, '\n')

lst[2:]=['aaa','bbb']
print("lst[2:]=['aaa','bbb']\t:",lst,'\n') #更改第二個值

lst[2:]=[333,444,555,666]  #list 可增加直接擴大
print('lst[2:] =\t\t:', lst)
print('id(lst)\t\t\t:', id(lst), '\n')　#做任何更動id不變

lst			= [11, 22, 33, 44]
id(lst)			: 1306442549632

lst[2] = 66		: [11, 22, 66, 44]

lst[2:]=['aaa','bbb']	: [11, 22, 'aaa', 'bbb']

lst[2:] =		: [11, 22, 333, 444, 555, 666]
id(lst)			: 1306442549632

In [46]:
lst1= [33, 'python', [11,22,33], (44,55,66)]
print('lst1\t\t:', lst1)
print('lst1[3][0]\t:', lst1[3][0],'\n')
#lst1[3][0] = 88

lst1		: [33, 'python', [11, 22, 33], (44, 55, 66)]
lst1[3][0]	: 44

In [47]:
lst1 = 3*[33,44]
print('lst1 = 3*[33,44]\t:', lst1)

lst1 = [55,66]*3
print('lst1 = [55,66]*3\t:', lst1)

lst1 = 3*[33,44]	: [33, 44, 33, 44, 33, 44]
lst1 = [55,66]*3	: [55, 66, 55, 66, 55, 66]

In [48]:
a = [4, 777, 444, 999, 11]
b = ['aa', 'bb', 'cc']

print(f'a = {a},\t b = {b} \n')

print('max(a)\t\t\t:', max(a))
print('min(a)\t\t\t:', min(a))
print('sum(a)\t\t\t:', sum(a),'\n')

print('sorted(a)\t\t:', sorted(a))
print('sorted(a, reverse=True)\t:', sorted(a, reverse=True))

a = [4, 777, 444, 999, 11],	 b = ['aa', 'bb', 'cc']

max(a)			: 999
min(a)			: 4
sum(a)			: 2235

sorted(a)		: [4, 11, 444, 777, 999]
sorted(a, reverse=True)	: [999, 777, 444, 11, 4]

In [49]:
a = [4, 777, 444, 999, 11]
b = ['aa', 'bb', 'cc']

print(f'a = {a},\t b = {b} \n')

a.append('1')
print('a.append(1)\t\t:', a)        
print('a+[1]\t\t\t:', a+[1], '\n')  #新增數字

a.extend(b)
print('a.extend(b)\t\t:', a)
print('a.count(4)\t\t:', a.count(4))        # coount 4 and 444
print('a.index(4)\t\t:', a.index(4), '\n')

a.insert(5, 555)
print('a.insert(5, 555)\t:', a)

a = [4, 777, 444, 999, 11],	 b = ['aa', 'bb', 'cc']

a.append(1)		: [4, 777, 444, 999, 11, '1']
a+[1]			: [4, 777, 444, 999, 11, '1', 1]

a.extend(b)		: [4, 777, 444, 999, 11, '1', 'aa', 'bb', 'cc']
a.count(4)		: 1
a.index(4)		: 0

a.insert(5, 555)	: [4, 777, 444, 999, 11, 555, '1', 'aa', 'bb', 'cc']

In [50]:
a = [4, 777, 444, 999, 11, 45, 66, 88, 73]
b = ['aa', 'bb', 'cc']

print(f'a = {a} ,\t b = {b} \n')

a.pop()                                       #刪除
print('a.pop()\t\t:', a)       

a.pop(4)                                      #刪除
print('a.pop(4)\t:', a)

a.remove(a[2])                                #刪除
print('a.remove(a[2])\t:', a, '\n')

a.reverse()
print('a.reverse\t:', a)

c = a.copy()
print('c = a.copy()\t:', c)

a.clear()
print('a.clear()\t:', a)

a = [4, 777, 444, 999, 11, 45, 66, 88, 73] ,	 b = ['aa', 'bb', 'cc']

a.pop()		: [4, 777, 444, 999, 11, 45, 66, 88]
a.pop(4)	: [4, 777, 444, 999, 45, 66, 88]
a.remove(a[2])	: [4, 777, 999, 45, 66, 88]

a.reverse	: [88, 66, 45, 999, 777, 4]
c = a.copy()	: [88, 66, 45, 999, 777, 4]
a.clear()	: []

In [51]:
# 找 10 在 list 中的位址
# my_list=[10, 20, 30, 10, 20, 30]
my_list=list(range(10,40,10))*2
print(my_list)
my_list_out=[]
pos=0
# for loop start
for x in my_list:
    if(x==10):
        my_list_out.append(pos)
#        my_list_out+=[pos]
#        my_list_out.extend([pos])
    pos+=1
#for loop end
print(my_list_out)

[10, 20, 30, 10, 20, 30]
[0, 3]

---

# Module_10_串列(List)與元組(Tuple)
>### tuple 佔記憶體小, 計算速度快
>![memoryIndex](.\img\memoryIndex03.png)

In [52]:
t1=(50) # not tuple becasue of no ',' 只要加上逗號就會變成Tuple
t1
type(t1)

int

In [53]:
t2=(50,)
print(t2*4)
type(t2)

(50, 50, 50, 50)

tuple

In [54]:
tup2 = 50,    # tup2 = 50, 60, 70
type(tup2)

tuple

In [55]:
t3=tuple(range(0,10,2))
print(t3)

t3[1] = 5         # error,  immutable 字串 數字 Tuple都不可變更
t3.remove(['2'])  # error, not removable, pop

(0, 2, 4, 6, 8)

TypeError: 'tuple' object does not support item assignment

In [56]:
tup3=('aaa', 'bbb', 'kkk', 'jjj', 'cc1')

print('tup3\t\t\t=', tup3)
print('sorted(tup3)\t\t:', sorted(tup3))  #tuple sorted 傳回的是list[], 需要用參數去接, lst=sorted(t3), t3 is still tuple, no change
print('max(tup3)\t\t:', max(tup3))
print('min(tup3)\t\t:', min(tup3))
print("tup3.count('kkk')\t:", tup3.count('kkk'))
print('tup3+(111,222)\t\t:', tup3+(111,222))

tup3			= ('aaa', 'bbb', 'kkk', 'jjj', 'cc1')
sorted(tup3)		: ['aaa', 'bbb', 'cc1', 'jjj', 'kkk']
max(tup3)		: kkk
min(tup3)		: aaa
tup3.count('kkk')	: 1
tup3+(111,222)		: ('aaa', 'bbb', 'kkk', 'jjj', 'cc1', 111, 222)

In [57]:
tup = 4, 5, 6; tup1 = (4, 5, 6)
print(tup+tup1)
print(tup+tup1+(8,))

(4, 5, 6, 4, 5, 6)
(4, 5, 6, 4, 5, 6, 8)

In [58]:
tup = 4, 5, 6; nested_tup = (4, 5, 6), (7, 8)

print(type(tup))
print(nested_tup)
print(tup+nested_tup)

<class 'tuple'>
((4, 5, 6), (7, 8))
(4, 5, 6, (4, 5, 6), (7, 8))

In [59]:
tup1 = ('aiot', 'python', 23.5, 2019)
tup2 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) #

print(tup1[0])
print(tup2[1:5])
print(tup2[1:10:2])

aiot
(2, 3, 4, 5)
(2, 4, 6, 8, 10)

In [60]:
tup = tuple([4, 0, 2])
print(tup, '\n')

tup = tuple('string')  # try list ('string')
print(tup)
print(tup[0])

(4, 0, 2)

('s', 't', 'r', 'i', 'n', 'g')
s

In [61]:
tup = tuple(['foo', [1, 2], True])

# tup[2] = False
tup[1].append(3)  # list in Tuple OK to change or append inside of list
print(tup)
print(len(tup))
tup[1][0]=20
tup

('foo', [1, 2, 3], True)
3

('foo', [20, 2, 3], True)

#### Tuple methods

In [62]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

#### Unpacking tuples

In [63]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [64]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [65]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [66]:
values = 1, 2, 3, 4, 5
print(type(values))
a, b, *rest = values
a, b, rest
#rest

<class 'tuple'>

(1, 2, [3, 4, 5])

In [67]:
a, b, *_ = values
_

[3, 4, 5]

In [68]:
sorted ({1, 5, 3, 6, 2, 99, 6}) # no repeat elements {}is set, tuple still tuple

[1, 2, 3, 5, 6, 99]

# 10-14 list comprehensions

In [69]:
S = [x**2 for x in range(10)] # x=0~9 for迴圈 各個乘以2次方
V = [2**x for x in range(13)] # x=0~12
M = [x for x in S if x % 2 == 0] # 用第一行去代
Q = [x**2/2 for x in range(10) ]
print('S = ', S)
print('V = ', V)
print('M = ', M)
print('Q = ', Q)

S =  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
V =  [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
M =  [0, 4, 16, 36, 64]
Q =  [0.0, 0.5, 2.0, 4.5, 8.0, 12.5, 18.0, 24.5, 32.0, 40.5]

In [70]:
# 九九乘法表 comprehensive 寫法
[[i*j for j in range(1,10)] for i in range(1,10)]

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [71]:
%%timeit
# V = (1,2,4,8,...2**10)
V=[]
for n in range(11):
    V +=[2**n]
V

2.82 µs ± 102 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [72]:
%%timeit
# V = (1,2,4,8,...2**10)
V=[]
V = [2**n for n in range(11)]
V

2.36 µs ± 40.7 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

# 範例

In [73]:
# 求質數
lst=[]
for i in range(2,1000):
    for j in range (2,i):
        if i%j==0:
            break
    else:
        lst=lst+[i]
print(lst)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [74]:
# for loop start
#公元年分除以4可整除但公元年分除以100不可整除」
#或「公元年分除以400可整除」

tuple_year=()
for i in range(1900, 2020):
    if( ( i%4==0 and  i%100!=0) or (i%400==0)  ):
        tuple_year +=(i,)
print(tuple_year, '\n')      
#----------------------------------------------
tuple_year1=[]        
tuple_year1 = [tuple_year1+[i] for i in range(1900,2020) if(( i%4==0 and  i%100!=0) or (i%400==0)) ]

print(tuple_year1)

(1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016)

[[1904], [1908], [1912], [1916], [1920], [1924], [1928], [1932], [1936], [1940], [1944], [1948], [1952], [1956], [1960], [1964], [1968], [1972], [1976], [1980], [1984], [1988], [1992], [1996], [2000], [2004], [2008], [2012], [2016]]

---

# Module_11_字典(Dict)
>## 讓一串資料更有可讀性

In [75]:
# 如英漢字典
d1={'Apple':'蘋果', 'Banana':'香蕉'}
print(d1['Apple'])
print(d1['Banana'])

蘋果
香蕉

In [76]:
lst = [2.59, 3.19, 4.8]
print(lst[0])
print(lst[1], '\n')

d1={'Eggs':2.59, 'Milk':3.19, 'Cheese':4.8}  # egg, milk 是不是更具可讀性?
print(d1['Eggs'])
print(d1['Milk'])

2.59
3.19

2.59
3.19

><img src=".\img\list-dict.png"  style='height:400px; width:900px'>

In [77]:
d1={'name':'John', 'age':30}
d2={'age':30, 'name':'John'}

print(d1==d2) #key跟value一樣就是True 不像其他資料型態注重先後順序
print(d1 is d2) # memory address diff 但兩者的存放空間不一樣
print(id(d1))
print(id(d2))
d2['class']

True
False
1306458775040
1306458771904

KeyError: 'class'

>#### tup1 = (a, 1, b, 2, c, 3)   # 佔記憶體小且完整, 執行速度快, 不可改變但可APPEND
>#### lst1 = [a, 1, b, 2, c, 3]   # 佔記憶體大, 執行速度慢(每筆check, sortiing)
>#### dic1 = {'AAAA':0 , 'AAAC':4, 'AAAG':7} # 執行速度快，index(a) -> key -> value有 pointer 概念

# 11-4

In [78]:
dict1 = dict(one=1, two=2, three=3)
print('dict1\t\t\t:', dict1, '\n')    # 建立

dict1['four']=7 
print("dict1['four'] = 7\t:", dict1)    # 新增 

dict1['two'] = 7
print("dict1['two'] = 7\t:", dict1)    # 修改

del dict1['two']                       # 刪除
print("del dict1['two']\t:", dict1)

print("dict1['one']\t\t:", dict1['one'])  # 尋找

dict1			: {'one': 1, 'two': 2, 'three': 3}

dict1['four'] = 7	: {'one': 1, 'two': 2, 'three': 3, 'four': 7}
dict1['two'] = 7	: {'one': 1, 'two': 7, 'three': 3, 'four': 7}
del dict1['two']	: {'one': 1, 'three': 3, 'four': 7}
dict1['one']		: 1

In [79]:
dict1 = {'one': 1, 'two': 2, 'three': 3, 'four':7}
key = 'four'
if(key in dict1):
    print(f'dict1[{key}] : {dict1[key]}')
else:
    print('No', key)

dict1[four] : 7

In [80]:
Families = {'大明':'小明', '大華':'小華', '大雄':'小雄'}
for Parent, Son in Families.items(): #dic裡面每個,為item的分界 整個物件 以迴圈賦予每個item另一個名稱
    print(f"{Parent} is {Son}'s Dad")

大明 is 小明's Dad
大華 is 小華's Dad
大雄 is 小雄's Dad

# 11-5

# 11-6

In [81]:
dict1 = {'id':'A001', 'eng':[67,53,79]}

print('dict1\t\t\t:', dict1)
print("dict1['eng']\t\t:", dict1['eng'])
print("dict1['eng'][0]\t\t:", dict1['eng'][0], '\n')

dict1['math'] = [64,85,75]
print("dict['math']=[64,85,75]\t:", dict1)
print("dict1['math'][1]\t:", dict1['math'][1])

dict1['math'][1] = 88
print("dict1['math'][1] = 88\t:", dict1)

dict1			: {'id': 'A001', 'eng': [67, 53, 79]}
dict1['eng']		: [67, 53, 79]
dict1['eng'][0]		: 67

dict['math']=[64,85,75]	: {'id': 'A001', 'eng': [67, 53, 79], 'math': [64, 85, 75]}
dict1['math'][1]	: 85
dict1['math'][1] = 88	: {'id': 'A001', 'eng': [67, 53, 79], 'math': [64, 88, 75]}

# 11 - 7

In [82]:
dict1 = {'Name': 'III', 'Year': 1979, 'Class': 'A'}

del dict1['Class']
print("del dict1['Class']\t:", dict1)

dict1.clear()   # empty dict1
print('dict1.clear()\t\t:', dict1)

del dict1      # del dict1.  dict1 is gone
print('del clear()\t\t:', dict1)   # error since no dict1 any more

del dict1['Class']	: {'Name': 'III', 'Year': 1979}
dict1.clear()		: {}

NameError: name 'dict1' is not defined

# 11-10

In [83]:
a= {'num':77, 'num1': 85, 'age': 44}  # dict

print('len(a)\t\t\t:', len(a))
print('max(a)\t\t\t:', max(a))  # key max, not so meaningful
print('a[max(a)])\t\t:', a[max(a)], '\n')

print('min(a)\t\t\t:', min(a))
print('sorted(a)\t\t:', sorted(a), '\n')

print("a.get('num')\t\t:", a.get('num'))
print("a['num']\t\t:", a['num'])
print("a.get('num', 'No item')\t:", a.get('num', 'No item'))  # get 'num' 如果 'num'不存在就show 'No item'
print("a.get('name', 'No item'):", a.get('name', 'No item')) # 'name'不存在, show 'No item'

len(a)			: 3
max(a)			: num1
a[max(a)])		: 85

min(a)			: age
sorted(a)		: ['age', 'num', 'num1']

a.get('num')		: 77
a['num']		: 77
a.get('num', 'No item')	: 77
a.get('name', 'No item'): No item

# 11-11

In [84]:
dict([('two', 2), ('one', 1), ('three', 3)]) # list of tuple

{'two': 2, 'one': 1, 'three': 3}

In [85]:
dict((('two', 2), ('one', 1), ('three', 3))) # tuple of tuple

{'two': 2, 'one': 1, 'three': 3}

In [86]:
dict1 = {'Stars':'John Doe','Starwars':'Jedi'}

print(dict1.items(), '\n')

print(dict1.keys())
print(list(dict1.keys()))
print(dict1.values())

dict_items([('Stars', 'John Doe'), ('Starwars', 'Jedi')])

dict_keys(['Stars', 'Starwars'])
['Stars', 'Starwars']
dict_values(['John Doe', 'Jedi'])

In [87]:
dict1 = {'Stars':'John Doe','Starwars':'Jedi'}
a={'name': '77', 'num': '85'}

dict1.update(a)
print('update(a)\t:', dict1)

dict1.pop('name')
print('pop("name")\t:', dict1)

dict1.popitem()  # default is -1 item
print('popitem()\t:', dict1)

update(a)	: {'Stars': 'John Doe', 'Starwars': 'Jedi', 'name': '77', 'num': '85'}
pop("name")	: {'Stars': 'John Doe', 'Starwars': 'Jedi', 'num': '85'}
popitem()	: {'Stars': 'John Doe', 'Starwars': 'Jedi'}

In [88]:
char_counts = {}
word = 'this is a letters about Python learning'
for char in tuple(word):
    #char_counts.update({char: word.count(char)})
    #print(char,':', end="")
    #print( word.count(char))
    char_counts[char] = word.count(char)  # 沒有 key 就像後加

#char_counts = {char: word.count(char) for char in set(word)}
    
char_counts

{'t': 5,
 'h': 2,
 'i': 3,
 's': 3,
 ' ': 6,
 'a': 3,
 'l': 2,
 'e': 3,
 'r': 2,
 'b': 1,
 'o': 2,
 'u': 1,
 'P': 1,
 'y': 1,
 'n': 3,
 'g': 1}

In [89]:
d1 ={'a': 'apple', 'b':'banana'}
print('d1\t\t=', d1, '\n')

d2 = d1.copy()                           # copy has diff memory address
print('d2 (d1.copy())  :', d2)
print('dict1 is d2\t:', dict1 is d2, '\n')

d3 = d1                                  # point to same address
print('d3 (d3=d1)\t:', d3)
print('d3 is d1t\t:', d3 is d1)

d1		= {'a': 'apple', 'b': 'banana'}

d2 (d1.copy())  : {'a': 'apple', 'b': 'banana'}
dict1 is d2	: False

d3 (d3=d1)	: {'a': 'apple', 'b': 'banana'}
d3 is d1t	: True

In [90]:
d3['a'] = 'amazon'                     # change d3.  d1 changed too

print('d1 = ', d1)
print('d2 = ', d2)
print('d3 = ', d3)

d1 =  {'a': 'amazon', 'b': 'banana'}
d2 =  {'a': 'apple', 'b': 'banana'}
d3 =  {'a': 'amazon', 'b': 'banana'}

In [91]:
# tup1 = (a, 1, b, 2, c, 3)
# lst1 = [a, 1, b, 2, c, 3]
dic1 = {'AAAA':0 , 'BBBB':4, 'CCCC':7}

print('******** for key in dic1 *******')
for key in dic1:
    print(key)
    
print('\n******** for key in dic1.keys() *******')    
for key in dic1.keys():
    print (key)
    
print('\n******** for key in dic1.items() *******')    
for key in dic1.items():
    print (key)
    
print('\n******** for k, v in dic1 *******')    
for k, v in dic1.items():
    print (k,v)

******** for key in dic1 *******
AAAA
BBBB
CCCC

******** for key in dic1.keys() *******
AAAA
BBBB
CCCC

******** for key in dic1.items() *******
('AAAA', 0)
('BBBB', 4)
('CCCC', 7)

******** for k, v in dic1 *******
AAAA 0
BBBB 4
CCCC 7

---

# Module_12_集合(Set)
>## 集合(Set)像移除值(Value)的字典, 留下獨一無二的Key

In [102]:
a = set()  # 空集合 Set會除去重複的值 沒有加key的{}就是set

In [103]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket
#basket[1]    # error no ordered, 唯一

{'apple', 'banana', 'orange', 'pear'}

In [104]:
'orange' in basket

True

In [105]:
'grape' in basket

False

In [106]:
#len(set("apple"))
#print(set('apple'))
len(set("apple")) #有一個p重複 故只有4個

4

In [107]:
s1={'66316666'};
s2=set('66316666')
print(s1, len(s1))
print(s2, len(s2))
print(type(s1))
print(type(s2))

{'66316666'} 1
{'1', '6', '3'} 3
<class 'set'>
<class 'set'>

# 12-5

In [108]:
'letters is beautiful'.count('e')

3

In [109]:
char_counts = {}
word = 'letters is beautiful'
print(set(word),'\n')  # 取出唯一

for char in set(word):
    char_counts[char] = word.count(char)  # 因為唯一而會向後加(append)
    
char_counts

{' ', 'e', 't', 'f', 'r', 'l', 'i', 's', 'u', 'b', 'a'}

{' ': 2,
 'e': 3,
 't': 3,
 'f': 1,
 'r': 1,
 'l': 2,
 'i': 2,
 's': 2,
 'u': 2,
 'b': 1,
 'a': 1}

In [110]:
word='letters is beautiful'
print(set(word))  # 唯一

char_counts = {x:word.count(x) for x in set(word)}
char_counts

{' ', 'e', 't', 'f', 'r', 'l', 'i', 's', 'u', 'b', 'a'}

{' ': 2,
 'e': 3,
 't': 3,
 'f': 1,
 'r': 1,
 'l': 2,
 'i': 2,
 's': 2,
 'u': 2,
 'b': 1,
 'a': 1}

In [111]:
for x in {6,5,2,3,7,3} :   
    print (x, end = ' ')

2 3 5 6 7

><img src=".\img\set.png"  style='height:450px; width:750px'>

In [112]:
print('{1,2,3} | {2,3,4}\t= ', {1,2,3} | {2,3,4})  # 聯集
print('{1,2,3} & {2,3,4}\t= ', {1,2,3} & {2,3,4})  # 交集
print('{1,2,3} ^ {2,3,4}\t= ', {1,2,3} ^ {2,3,4}, '\n')  # XOR 互斥或

print('{1,2,3} - {2,3,4}\t= ', {1,2,3} - {2,3,4})  # diff
print('{2,3,4} - {2,3,1}\t= ', {2,3,4} - {2,3,1})  # diff
print('{1,2,3} ^ {2,3,4}\t= ', {1,2,3} ^ {2,3,4}, '\n')  # symmetric diff

print('{1,2} < {1,2,3,4}\t= ', {1,2} < {1,2,3,4})  # sub
print('{1,2} > {1,2,3,4}\t= ', {1,2} > {1,2,3,4})  # sub

{1,2,3} | {2,3,4}	=  {1, 2, 3, 4}
{1,2,3} & {2,3,4}	=  {2, 3}
{1,2,3} ^ {2,3,4}	=  {1, 4}

{1,2,3} - {2,3,4}	=  {1}
{2,3,4} - {2,3,1}	=  {4}
{1,2,3} ^ {2,3,4}	=  {1, 4}

{1,2} < {1,2,3,4}	=  True
{1,2} > {1,2,3,4}	=  False

In [113]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}

print (f'a = {a},  b = {b},  c = {c},  d= {d} \n')

print('a.isdisjoint(b)\t\t\t:', a.isdisjoint(b))     # 沒交集
print('b.isdisjoint(a)\t\t\t:', b.isdisjoint(a), '\n')

print('a.issubset(b)\t\t\t:', a.issubset(b))
print('a.issubset(d)\t\t\t:', a.issubset(d))
print('d.issuperset(a)\t\t\t:', d.issuperset(a), '\n')

print('a.union(b)\t\t\t:', a.union(b))
print('a.union(b) == a|b\t\t:', a.union(b) == a|b)
print('a.intersection(b)\t\t:', a.intersection(b), '\n')  #交集

print('a.difference(b)\t\t\t:', a.difference(b))  # 差集
print('b.difference(a)\t\t\t:', b.difference(a))  # 差集
print('a.symmetric_difference(b)\t:', a.symmetric_difference(b),'\n')

a = {1, 2, 3},  b = {3, 4, 5},  c = {4, 5, 6},  d= {1, 2, 3, 4, 5, 6}

a.isdisjoint(b)			: False
b.isdisjoint(a)			: False

a.issubset(b)			: False
a.issubset(d)			: True
d.issuperset(a)			: True

a.union(b)			: {1, 2, 3, 4, 5}
a.union(b) == a|b		: True
a.intersection(b)		: {3}

a.difference(b)			: {1, 2}
b.difference(a)			: {4, 5}
a.symmetric_difference(b)	: {1, 2, 4, 5}

In [114]:
set_a = {2,4,6,8,10,12}
set_b = {3,6,9,12}

#聯集取得所有元素
print(set_a.union(set_b))                 #{2,3,4,6,8,9,10,12}
print(set_a | set_b, '\n')                #{2,3,4,6,8,9,10,12}

#交集取得集合重複的部分
print(set_a.intersection(set_b))          #{6, 12}
print(set_a & set_b, '\n')                #{6, 12}

#取出set_a跟set_b不一樣的元素
print(set_a.difference(set_b))            #{2,4,8,10}
print(set_a - set_b)                      #{2,4,8,10}
print(set_b.difference(set_a), '\n')      #{9,3}

#取出兩個集合中不一樣(沒有重複)的元素
print(set_a.symmetric_difference(set_b))  #{2,3,4,8,9,10}
print(set_a ^ set_b)                      #{2,3,4,8,9,10}

{2, 3, 4, 6, 8, 9, 10, 12}
{2, 3, 4, 6, 8, 9, 10, 12}

{12, 6}
{12, 6}

{8, 2, 10, 4}
{8, 2, 10, 4}
{9, 3}

{2, 3, 4, 8, 9, 10}
{2, 3, 4, 8, 9, 10}

In [115]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}
a.update(b);
a

{1, 2, 3, 4, 5}

In [116]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}
a.intersection_update(b);
a                         #傳回與 b集合的交集

{3}

In [117]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}
a.add(1)  # how about add(4)
a

{1, 2, 3}

In [118]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}
a.remove(1);
a

{2, 3}

In [119]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}
a.remove(4);
a

KeyError: 4

In [120]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}
a.discard(4);
a  # 如果 elem 存在於 s ，則將其移除。此方法不會觸發 KeyError 的例外

{1, 2, 3}

In [121]:
a = {1,2,3}; b = {3,4,5}; c = {4,5,6}; d = {1,2,3,4,5,6}
a.pop(); 
a

{2, 3}

><img src=".\img\list-tuple-dict-set.png"  style='height:300px; width:850px'>

# 12-16

In [122]:
s = {num for num in range(1,6) if num % 3 == 1}
s

{1, 4}